html {
    height: 100%;
    width: 100%;
    max-width: 800px;
    background-color: darkslategrey;
   margin: 0 auto;
  
  }
  .page {
  display: flex;
    flex-direction: column;
  }
  
  h1 {
  display: flex;
    justify-content: center;
  }
  
  p {
    width: 100%;
  }
  
  .row {
    display: flex;
    justify-content: space-between;
    margin: 5px;
  
    
  }
  
  img {
    width: 100%;
    border: 2px solid black;
  }
  
  .container {
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  
    
  }
  .photo {
    border: 2px solid black;
    background-color: white;
    margin-top: 50px;
  }
  h2 {
    font-size: 16px;
    font-weight: -10;
  }