html{
  border: 2px red solid;
  background-color: black;
}

.page {
  border: 2px yellow solid;
  width: 50%;
  max-width: 800px;
  margin: 0 auto;
  background-color: white;
}
  .post-header {
  border: 2px green solid;
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}
.reactions {
  border: 2px red solid;
}
.bottom {
  border: 2px blue solid;
  margin: 10px;
}

i {
  font-size: 1.5em;
}

#post-info {
  display: flex;
  align-items: center;
  border: 2px purple solid;
}
#post-location {
  display: flex;
  flex-direction: column;
  margin-left: .5em;
  border: 2px red solid;
  ;
}
img {
  width: 100%;
  border: 2px red solid;
}